.container {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.cats img {
    width: 230px;
    box-shadow: #666 0 0 20px;
    border-radius: 50%;
    margin: 20px;
}

h1 {
    position: absolute;
    top: 110px;
    left: -93px;
    transform: rotate(-90deg);
    font-size: 129px;
    color: #00ad65;
}

#more-cats-btn {
    font-size: 35px;
    color: red;
    text-decoration: none;
}

#more-cats-btn:hover {
    font-size: 40px;
}

iframe {
    border-width: 0;
    width: 0;
    height: 0;
}
